<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="34" >

        <service
            android:name=".BootService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

        <receiver android:name=".NotifyReceiver"
            android:permission="TAKE_THIS_NOTIFICATION_RIGHT_NOW"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.TAKE_THIS_NOTIFICATION_RIGHT_NOW" />
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".accountSettingsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".resetPageActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".concludedRaceActivity" />
        <activity android:name=".futureRaceActivity"/>
        <activity android:name=".scheduleActivity" />
        <activity android:name=".driversStandingsActivity" />
        <activity android:name=".teamsStandingsActivity" />
        <activity android:name=".teamPageActivity" />
        <activity android:name=".driverPageActivity" />
        <activity android:name=".raceResultsActivity"/>
        <activity android:name=".pastSeasonDriversStandingsActivity"/>
        <activity android:name=".pastSeasonTeamsStandingsActivity"/>
        <activity android:name=".pastSeasonScheduleActivity"/>
        <activity android:name=".connectionLostScreen"/>
        <activity
            android:name=".changeUserPrivateDataActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".logInPageActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".registerPageActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".accountPageActivity" />
        <activity android:name=".savedRacesActivity" />
        <activity android:name=".splashNotificationActivity"/>
        <activity
            android:theme="@style/RemoveAppSplashTheme"
            android:name=".splashActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"/>
    </application>

</manifest>